// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index{
    color: #000000;
    font-size:13px;
}

.box{
    width:50px;
}

.box p{
    line-height: 0px;
}

.show p{
    padding: 10px 0 0 30px;
}

.link span{
    margin: 0 2px 0 7px;
}

.title{
    display: inline-block
}

.body{
    display: inline-block
}

.show{
    display: inline;
}

a:hover{
    color:#ffffff;
    background-color:#000000;
}

.table{
    width:600px;
}

.box2 p{
    line-height: 0px;
}

.flash{
    color: green;
    font-size:13px;
    padding:20px;
}